{% extends "layout.html" %}

{% block title %}
BookTweet
{% endblock %}


{% block content %}
<h1 class="text-center mt-4">Welcome to BookTweet!</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create Tweet</a>

<div class="container">
    <div class="row">
        {% for tweet in tweets %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if tweet.photo %}
                <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}