{% extends "layout.html" %}

{% block title %}
BookTweet
{% endblock %}


{% block content %}
<h1 class="text-center mt-4">Welcome to BookTweet!</h1>

<h2>{% if form.instance.pk %}
     Edit Tweet
     {% else %}
     Create Tweet
      {% endif %}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<a href="{% url 'tweet_list' %}" class="btn btn-secondary mt-2">Back to Tweet List</a>
{% endblock %}